* {
    box-sizing: border-box;
  }

  /* features css news */
  
  :root {
    --main-red-color: #e05252;
    --main-black-color: #484848;
  }

  .main-red-color {
    color: var(--main-red-color);
  }

  .main-black-color {
    color: var(--main-black-color);
  }

  /* end */

  html {
    font-size: 18px;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #2d2d2d;
    height: 100vh;
  }
  
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .container {
    width: 600px;
    height: 800px;
    padding: 30px;
  
    background-color: #f2eecb;
    color: black;
  }
  
  .frame {
    border: 1px solid var(--main-black-color);
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .header {
    display: flex;
    align-items: flex-start;
  }

  .header-title {
    flex: 1;
    text-align: center;

    color: var(--main-black-color);

    font-size: 1.8rem;
    text-transform: lowercase;
    font-family: 'Homemade Apple', cursive;
  }

  .header-btn {
    font-size: 0.8rem;
    font-family: 'Bungee', cursive;

    cursor:pointer;
    padding: 16px;

    background: unset;
    border: unset;
    outline: unset;
  }

  .header-btn.main-red-color:active {
    text-shadow: 1px 1px 2px var(--main-red-color);
  }

  .header-btn.main-black-color:active {
    text-shadow: 1px 1px 2px var(--main-black-color);
  }
  .add-btn.main-black-color:active {
    text-shadow: 1px 1px 2px var(--main-black-color);
  }

  .add {
    padding: 16px;

  }

  .add-form {
    display: flex;
    align-items: flex-start;
    
  }

  .add-input {
    background-color: unset;
    border: unset;
    padding: 0 64px;

    flex: 1;

    border-bottom: 1px solid var(--main-red-color);

    outline: unset;
    font-family: 'Homemade Apple', cursive;
    font-size: 16px;
    text-transform: lowercase;
  }

  .add-btn {
    font-size: 0.8rem;
    font-family: 'Bungee', cursive;

    padding: 16px;
    padding-right: unset;
    cursor: pointer;

    background-color: unset;
    border: unset;
    outline: unset;
  }

.todos {
  display: flex;
  flex-direction: column;
}

.todo {
  position: relative;
  
  flex: 1 0 auto;
  text-align: center;

  min-height: 34px;
  margin: 16px 0 0;
  font-family: 'Homemade Apple', cursive;
  font-size: 24px;

  border-bottom: 1px solid var(--main-red-color);
}
  
.todo-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}